@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*, img, a, ul, li, p, h1, h2, h3, h4, input {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-select:focus {
  box-shadow: none !important;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

body {
  background-color: rgb(37, 100, 235);
  font-family: "Roboto", sans-serif;
}
body div {
  display: flex;
}
body div aside {
  max-width: 18.7%;
  padding: 27px 0 30px 30px;
}
body div aside div a {
  margin-right: 14px;
  padding: 10px 30px 22px 20px;
  border-bottom: 1px solid rgb(29, 78, 216);
}
body div aside div a img {
  width: 70%;
}
body div aside nav {
  margin-top: 24px;
}
body div aside nav ul {
  padding: 0;
}
body div aside nav ul li {
  height: 60px;
  display: flex;
  align-items: flex-start;
}
body div aside nav ul li .active {
  color: rgb(59, 130, 246);
  background-color: rgb(241, 245, 249);
}
body div aside nav ul li .active:hover {
  color: rgb(59, 130, 246);
  background-color: rgb(241, 245, 249);
}
body div aside nav ul li a {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 7px 100% 7px 20px;
  font-size: 0.9rem;
  font-weight: 400;
  border-radius: 50px 0 0 50px;
  transition: all 0.9s ease-out;
}
body div aside nav ul li a i {
  font-size: 24px;
}
body div aside nav ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(59, 130, 246);
}
body div main {
  max-width: 82.3%;
  padding: 0 22px 22px;
  border-radius: 30px;
  margin: 20px 32px 30px 10px;
  background-color: rgb(241, 245, 249);
}
body div main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid rgb(222, 229, 237);
}
body div main header .letfContainer {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
}
body div main header .letfContainer nav ol {
  margin: auto;
  font-size: 0.9rem;
  font-weight: 400;
}
body div main header .letfContainer nav ol li:last-child::before {
  content: url(../../img/rightArrow.svg);
  zoom: 60%;
  height: 0px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  position: relative;
  top: 3px;
}
body div main header .letfContainer nav ol li:first-child a {
  color: rgb(37, 100, 235);
}
body div main header .letfContainer nav ol li:last-child {
  display: flex;
  align-items: center;
  color: rgb(100, 116, 139);
}
body div main header .rightContainer {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body div main header .rightContainer div:first-child {
  display: flex;
  justify-content: flex-end;
  transition: 0.4s;
}
body div main header .rightContainer div:first-child input {
  width: 100%;
  border: none;
  padding: 7px 15px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.7s ease-in-out;
}
body div main header .rightContainer div:first-child input:hover, body div main header .rightContainer div:first-child input:focus {
  outline: none;
  transition: all 0.4s ease-in-out;
  background-color: rgb(255, 255, 255);
}
body div main header .rightContainer div:first-child input:focus-within {
  width: 350px;
  outline: 1px solid rgb(222, 229, 237);
  transition-property: width;
  transition-duration: 100ms;
}
body div main header .rightContainer div:first-child ::placeholder {
  color: rgb(100, 116, 139);
  font-size: 0.9rem;
  font-weight: 400;
}
body div main header .rightContainer div:first-child i {
  position: relative;
  top: 9px;
  left: -14px;
  margin-left: -15px;
  color: rgb(100, 116, 139);
}
body div main header .rightContainer div:nth-child(2) {
  width: 8.1%;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}
body div main header .rightContainer div:nth-child(2) a i {
  display: flex;
  font-size: 19px;
  color: rgb(100, 116, 139);
}
body div main header .rightContainer div:nth-child(2) a i div {
  width: 8px;
  height: 8px;
  margin: -2px 0px 0 -8px;
  border-radius: 50px;
  background-color: rgb(221, 46, 47);
}
body div main header .rightContainer div:last-child {
  width: 4.3%;
  display: flex;
  justify-content: flex-end;
}
body div main header .rightContainer div:last-child a {
  display: flex;
  justify-content: flex-end;
}
body div main header .rightContainer div:last-child a img {
  width: 100%;
  border-radius: 50%;
}
body div main .summaryTitle {
  margin-top: 33px;
}
body div main .summaryTitle h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(23, 23, 23);
}

/*# sourceMappingURL=general.css.map */
