@import './myBootstrap';
@import './animations';
@import './reset';


body {
    background-color: $blue-600;
    font-family: 'Roboto', sans-serif;
    div { // wrapper
        display: flex;
        aside {
            max-width: 18.7%;
            padding: 27px 0 30px 30px;
            div a { // logo container
                margin-right: 14px;
                padding: 10px 30px 22px 20px;
                border-bottom: 1px solid $blue-700;
                img { // logo image
                    width: 60%;
                }
            }
            nav { // sidebar nav
                margin-top: 24px;
                ul {
                    padding: 0;
                    li {
                        height: 60px;
                        display: flex;
                        align-items: flex-start;
                        &:hover > a {
                            color: $white;
                            background-color: $blue-500;
                        }
                        &:nth-child(1) {
                            @include active-sidebar-tab;
                        }
                        a {
                            width: 100%;
                            color: $white;
                            display: flex;
                            align-items: center;
                            padding: 7px 100% 7px 20px;
                            @include verySmall-font-size;
                            border-radius: 50px 0 0 50px;
                            i {
                                @include big-icon;
                            }
                        }

                    }  
                }
            }
        }
        main { // main
            max-width: 82.3%;
            padding: 0 20px 20px;
            border-radius: 30px;
            margin: 20px 32px 30px 10px;
            background-color: $grey-400;
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 14px 0;
                border-bottom: 1px solid $grey-300;
                .letfContainer {
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    nav {
                        ol {
                            margin: auto;
                            @include verySmall-font-size;
                            li:last-child::before {
                                content: url(../../img/rightArrow.svg);
                                zoom: 60%;
                                height: 0px;
                                display: flex;
                                align-items: center;
                                padding: 0 8px;
                                position: relative;
                                top: 3px;
                            }
                            li:first-child a {
                                color: $blue-600;
                            }
                            li:last-child {
                                display: flex;
                                align-items: center;
                                color: $grey-500;
                            }
                        }
                    }
                }
                .rightContainer {
                    width: 80%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    div:first-child { // search input
                        @include search;
                    }
                    div:nth-child(2) { // bell container
                        width: 8.1%;
                        display: flex;
                        justify-content:center;
                        font-family: sans-serif;
                        a {
                            i { // bell icon
                                display: flex;
                                font-size: 19px;
                                color: $grey-500;
                                div {
                                    width: 8px;
                                    height: 8px;
                                    margin: -2px 0px 0 -8px;
                                    border-radius: 50px;
                                    background-color: $red-500;
                                }
                            }
                        }
                    }
                    div:last-child { // user profile photo
                        width: 4.3%;
                        display: flex;
                        justify-content: flex-end;
                        a {
                            display: flex;
                            justify-content: flex-end;
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }

            .summaryTitle {
                margin-top: 33px;
                h2 {
                    @include h2;
                    color: $black-900;
                }
            }
        }
    }

}