@import './myBootstrap';
@import './reset';

body {
    background-color: $blue-600;
    font-family: 'Roboto', sans-serif;
    div { // wrapper
        display: flex;
        aside {
            max-width: 18.7%;
            padding: 30px 0 30px 30px;
            border: 1px solid red;
            div a { // logo container
                padding: 5px 30px 22px 20px;
                border-bottom: 1px solid $blue-700;
                img { // logo image
                    width: 60%;
                }
            }
            nav {
                margin-top: 20px;
                border: 1px solid black;
                ul {
                    border: 1px solid yellow;
                    padding: 0;
                    li {
                        height: 60px;
                        display: flex;
                        align-items: flex-start;
                        border: 1px solid red;
                        a {
                            width: 100%;
                            color: $white;
                            display: flex;
                            align-items: center;
                            padding: 6px 100% 6px 20px;
                            @include verySmall-font-size;
                            border-radius: 50px;
                            border: 1px solid green;
                            i {
                                @include sideBar-icon;
                            }
                        }
                    }
                }
            }
        }
        main { // main
            max-width: 82.3%;
            padding: 0 20px 20px;
            border-radius: 30px;
            margin: 20px 32px 30px 10px;
            background-color: $grey-400;
            header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 14px 0;
                border-bottom: 1px solid $grey-300;
                .letfContainer {
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    nav {
                        ol {
                            margin: auto;
                            @include verySmall-font-size;
                            li:last-child::before {
                                content: url(../../img/rightArrow.svg);
                                zoom: 60%;
                                height: 0px;
                                display: flex;
                                align-items: center;
                                padding: 0 8px;
                                position: relative;
                                top: 3px;
                            }
                            li:last-child {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
                .rightContainer {
                    width: 80%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    div:first-child { // search input
                        display: flex;
                        justify-content: flex-end;
                        input {
                            width: 100%;
                            border: none;
                            padding: 7px 15px;
                            border-radius: 50px;
                            background-color: $unhovered-grey;
                            &:hover, &:focus {
                                outline: 1px solid $grey-300;
                                background-color: $white;
                            }
                        }
                        ::placeholder {
                            color: $grey-500;
                            @include verySmall-font-size;
                        }
                        i { // search icon
                            position: relative;
                            top: 9px;
                            left: -14px;
                            margin-left: -15px;
                            color: $grey-500;
                        }
                    }
                    div:nth-child(2) { // bell container
                        width: 7%;
                        display: flex;
                        justify-content:center;
                        font-family: sans-serif;
                        a {
                            i { // bell icon
                                display: flex;
                                font-size: 20px;
                                color: $grey-500;
                                div {
                                    width: 8px;
                                    height: 8px;
                                    margin: -2px 0px 0 -8px;
                                    border-radius: 50px;
                                    background-color: $red-500;
                                }
                            }
                        }
                    }
                    div:last-child { // user profile photo
                        width: 4.4%;
                        display: flex;
                        justify-content: flex-end;
                        a {
                            display: flex;
                            justify-content: flex-end;
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

}